{% extends 'base.html' %}


{% block content %}

<!-- Nav tabs -->
<ul class="nav nav-tabs alert-success" role="tablist">
	<li role="presentation" class="active"><a href="#django" aria-controls="django" role="tab" data-toggle="tab">Django</a></li>
	<li role="presentation"><a href="#flask" aria-controls="flask" role="tab" data-toggle="tab">Flask</a></li>
	<li role="presentation"><a href="#tornado" aria-controls="tornado" role="tab" data-toggle="tab">Tornado</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div role="tabpanel" class="tab-pane fade in active" id="django">
		<ul class="list-group">
			{% for topic in TOPIC_LIST["Django"] %}
			<li class="list-group-item list-group-item-info"><a href="{{ topic[1] }}">{{ topic[0] }}</a></li>
			{% endfor %}
		</ul>	
	</div>
	<div role="tabpanel" class="tab-pane fade" id="flask">
		Woops, Page not exist yet
	</div>
	<div role="tabpanel" class="tab-pane fade" id="tornado">
		Waiting for update...
	</div>
</div>

{% endblock %}


{% block script %}
<script>
	$('a[data-toggle="tab"]').on('mouseover', function() {
		$(this).tab('show');
	})
</script>

{% endblock %}
